{{ attach_library('wudo/focus-trap') }}

<wudo-drawer
  id="{{ id }}"
  class="drawer drawer--{{ position }}"
  style="--drawer-max-width: {{ size }};"
  role="dialog"
  aria-modal="true"
  aria-labelledby="{{ id }}-title"
>
  <div class="drawer__overlay" onclick="this.closest('wudo-drawer').close()"></div>

  <div class="drawer__inner">
    <header class="drawer__header">
      <h2 id="{{ id }}-title" class="drawer__title">{{ title }}</h2>

      {% set button_attributes = create_attribute({
        'class': 'drawer__close',
        'data-flyout-open-trigger': '',
        'aria-expanded': 'false',
        'onclick': "this.closest('wudo-drawer').close()"
      }) %}

      {{ include('wudo:button', {
        text: 'Close drawer',
        icon: 'close',
        size: 'large',
        icon_only: true,
        icon_size: 'large',
        attributes: button_attributes,
      }, with_context = false) }}
    </header>

    <div class="drawer__body">
      {% block content %}
        {{ content|raw }}
      {% endblock %}
    </div>

    {% if footer %}
      <footer class="drawer__footer">
        {{ footer }}
      </footer>
    {% endif %}
  </div>
</wudo-drawer>
