{% if items %}
  <nav {{ attributes.addClass('breadcrumbs', modifier_class).setAttribute('aria-labelledby', 'system-breadcrumb') }}>
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>

    <ol class="breadcrumbs__list" itemscope itemtype="https://schema.org/BreadcrumbList" style="--breadcrumb-separator: '{{ separator }}'">
      {% for item in items %}
        <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">

          {% if item.url %}
            <a class="breadcrumbs__link" href="{{ item.url }}" itemprop="item">
              <span itemprop="name">{{ item.text }}</span>
            </a>
          {% else %}
            <span class="breadcrumbs__current" aria-current="page" itemprop="name">
              {{ item.text }}
            </span>
          {% endif %}

          <meta itemprop="position" content="{{ loop.index }}" />
        </li>
      {% endfor %}
    </ol>
  </nav>
{% endif %}
